
Options +FollowSymlinks
RewriteEngine On
RewriteRule	^index$	/h2s/index.php [L]
# N'applique aucune règle pour les fichiers contenus dans le répertoire /style/
RewriteRule	^index/(.+)$	/h2s/index.php?action=$1 [QSA,L,NE,PT]
